<div data-section-id="{{ section.id }}"  data-section-type="newsletter-block" class="newsletter-block">  
<div class="newsletter-section parallax">
  <div class="overlay"></div>
  <div class="wrapper">
    {% if section.settings.title != blank %}
    <div class="border-title"><h2 class="newslet_title" style="color:{{ section.settings.title_color }};">
      {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="short-desc">
      <p style="color:{{ section.settings.text_color }};"> {{ section.settings.text }}</p>
    </div>
    {% endif %}
    </div>
    {% if settings.newsletter_form_action != blank %}
  <form action="{{ settings.newsletter_form_action }}" method="post"  name="mc-embedded-subscribe-form" target="_blank" class="input-group mc-embedded-subscribe-form">
     <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" class="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
      <button type="submit" class="btn subscribe" name="subscribe" value="" > {{ section.settings.button }}</button>    
  </form>
{% else %}
    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <p class="note form-success">{{ 'general.newsletter_form.mailing_list_success_message' | t }}</p>
		{% else %}
        <div class="input-group">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" class="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
          <input type="hidden" name="contact[tags]" value="newsletter">
            <button type="submit" class="btn subscribe" name="subscribe" value="" >{{ section.settings.button }}</button>          
        </div>
      {% endif %}
       {{ form.errors | default_errors }}
    {% endform %}  
{% endif %}
  </div>
</div>
  <style>
      {% if section.settings.heading_image_need %} .newsletter-block .border-title:after {  content:"";background-image:url({{ section.settings.heading_image | img_url: 'master' }});display:inline-block;background-repeat:no-repeat;width:135px;height:57px;} {% endif %}

  .newsletter-section form .btn { color:{{ section.settings.button_txt_color }};border-bottom:3px solid {{ section.settings.button_bg_color }};background-color:{{ section.settings.buttonbg_color }}; }
     .newsletter-section form .btn:hover { color:{{ section.settings.button_hover_txt_color }};background-color:{{ section.settings.buttonbg_hover_color }};border-bottom:3px solid {{ section.settings.buttonbg_hover_color }}; }

  </style>
</div>
<div class="dt-sc-hr-invisible-large"></div>
 <script type="text/javascript">    
    var colours = ["{{ settings.letter_one }}", "{{ settings.letter_two }}", "{{ settings.letter_three }}", "{{ settings.letter_four }}", "{{ settings.letter_five }}", "{{ settings.letter_six }}", "{{ settings.letter_seven }}"], idx;
    $(function() {
    var div = $('.newsletter-block .border-title h2'); 
    var chars = div.text().split('');
    div.html('');     
    for(var i=0; i<chars.length; i++) {
        idx = Math.floor(Math.random() * colours.length);
        var span = $('<span>' + chars[i] + '</span>').css("color", colours[idx]);
        div.append(span);
    }
});
    
  </script>
{% schema %}
{
  "name": "Newsletter",
  "class": "index-section",  
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
{
      "type": "checkbox",
      "id": "heading_image_need",
      "label": "Show Heading Image ?"
      
    },	
{
      "type": "image_picker",
      "id": "heading_image",
      "label": "Image",
"info": "Size: 133x56"
      
    },	
{
  	"type": "color",
      "id": "title_color",
      "label": "Heading",
      "default": "#000"
    },
 	{
      "type": "textarea",
      "id": "text",
      "label": "Description",
     "default": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
    },
	{
	"type": "color",
      "id": "text_color",
      "label": "Description",
      "default": "#000"
    },
	{
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "Subscribe"
    },
{
	"type": "color",
      "id": "button_txt_color",
      "label": "Button Text Color",
      "default": "#000"
    },
{
	"type": "color",
      "id": "button_bg_color",
      "label": "Button Border Color",
      "default": "#fff"
    },
{
	"type": "color",
      "id": "buttonbg_color",
      "label": "Button Bg Color",
      "default": "#fff"
    },
{
	"type": "color",
      "id": "buttonbg_hover_color",
      "label": "Button Hover Bg Color",
      "default": "#fff"
    },
{
	"type": "color",
      "id": "button_hover_txt_color",
      "label": "Button Hover Text Color",
      "default": "#000"
    }

  ],  
  "presets": [
    {
      "name": "Newsletter",
      "category": "Form",
      "blocks": [ ]
    }
  ]
}
{% endschema %}