
<div id="rev_slider_85_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="kids-shop" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
	<div id="rev_slider_85_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
<ul>

 {% if section.settings.show_slider_1 %}
	<!-- SLIDE  -->
	<li class="rs-258" data-index="rs-258" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{{ section.settings.slide_1_image | img_url: "100x50" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		{% if section.settings.slide_1_image != blank %}
        <!-- MAIN IMAGE --> 
        <img src="{{ section.settings.slide_1_image | img_url: "master" }}"  alt="{{ section.settings.slide_1_title }}" title="{{ section.settings.slide_1_title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		 {% endif %}
        
        <!-- LAYERS -->
 {% if section.settings.slide_1_title != blank %}
		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-258-layer-1" 
			 data-x="100" 
			 data-y="132" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: {{ section.settings.slide_1_title_clr }}; letter-spacing: 0px;font-style:italic;">{{ section.settings.slide_1_title }} 
            </div>
            {% endif %}

{% if section.settings.slide_1_subtitle != blank %}
		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-258-layer-2" 
			 data-x="100" 
			 data-y="154" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"rZ:0deg;sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[20,20,20,20]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 70px; font-weight: 400; color: {{ section.settings.slider_1_sub_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_1_subtitle}} 
            </div>
{% endif %}

{% if section.settings.slide_1_desc != blank %}
		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-258-layer-3" 
			 data-x="100" 
			 data-y="257" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 30px; font-weight: 400; color:{{ section.settings.slide_1_desc_clr }}; letter-spacing: 0px;">
            {{ section.settings.slide_1_desc }}
             </div>
		{% endif %}
{% if section.settings.slide_1_link != blank %}
		<!-- LAYER NR. 4 -->
		<a class="tp-caption rev-btn " 
             href="{{ section.settings.slide_1_link }}" 
             target="_self"
 		 id="slide-258-layer-4" 
			 data-x="100" 
			 data-y="345" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="button" 
			data-actions=''
			data-responsive_offset="on" 

			data-frames='[{"delay":3500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[18,18,18,18]"
			data-paddingright="[25,25,25,25]"
			data-paddingbottom="[18,18,18,18]"
			data-paddingleft="[25,25,25,25]"

			style="z-index: 8; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; letter-spacing: px;text-transform:uppercase;border-radius:5px 5px 5px 5px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">{{ section.settings.slide_1_button }} </a>
            {% endif %}
	</li>
	 {% endif %}
     
     
     {% if section.settings.show_slider_2 %}
    <!-- SLIDE  -->    
	<li class="rs-259" data-index="rs-259" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{{ section.settings.slide_2_image | img_url: "100x50" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		{% if section.settings.slide_2_image != blank %}
        <!-- MAIN IMAGE --> 
        <img src="{{ section.settings.slide_2_image | img_url: "master" }}"  alt="{{ section.settings.slide_2_title }}" title="{{ section.settings.slide_2_title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		 {% endif %}
        <!-- LAYERS -->

{% if section.settings.slide_2_title != blank %}
		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-1" 
			 data-x="center" data-hoffset="238" 
			 data-y="100" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[5,5,5,5]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 30px; font-weight: 400; color:{{ section.settings.slide_2_title_clr }}; letter-spacing: 0px;font-style:italic;">{{ section.settings.slide_2_title }} </div>
	 {% endif %}
	 
	 {% if section.settings.slide_2_desc != blank %}
		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-2" 
			 data-x="left" data-hoffset="706" 
			 data-y="137" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"rZ:0deg;sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[20,20,20,20]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 70px; font-weight: bold; color:{{ section.settings.slide_2_desc_clr }}; letter-spacing: 0px;">{{ section.settings.slide_2_desc }}
			 </div>
 {% endif %}
 
 
 {% if section.settings.slide_2_point_1 != blank %}
 
		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-3" 
			 data-x="center" data-hoffset="177" 
			 data-y="247" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3490,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color:{{ section.settings.slide_2_points_txt_clr }}; letter-spacing: 0px;"><i class="fa fa-star" style="color:{{ section.settings.slide_2_points_icon_clr }}"></i> {{ section.settings.slide_2_point_1 }}
 </div>
 {% endif %}
 
  {% if section.settings.slide_2_point_2 != blank %}
		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-8" 
			 data-x="center" data-hoffset="210" 
			 data-y="288" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3860,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color: {{ section.settings.slide_2_points_txt_clr }}; letter-spacing: 0px;"><i class="fa fa-star" style="color:{{ section.settings.slide_2_points_icon_clr }}"></i> {{ section.settings.slide_2_point_2 }}
 </div>
{% endif %}

 {% if section.settings.slide_2_point_3 != blank %}
		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-9" 
			 data-x="center" data-hoffset="210" 
			 data-y="327" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":4260,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color: {{ section.settings.slide_2_points_txt_clr }}; letter-spacing: 0px;"><i class="fa fa-star" style="color:{{ section.settings.slide_2_points_icon_clr }}"></i>  {{ section.settings.slide_2_point_3 }}
 </div>
  {% endif %}

 {% if section.settings.slide_2_point_4 != blank %}
		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-259-layer-10" 
			 data-x="center" data-hoffset="188" 
			 data-y="367" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":4710,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color:{{ section.settings.slide_2_points_txt_clr }}; letter-spacing: 0px;"><i class="fa fa-star" style="color:{{ section.settings.slide_2_points_icon_clr }}"></i> {{ section.settings.slide_2_point_4 }}
 </div>
 {% endif %}
{% if section.settings.slide_2_link != blank %}
		<!-- LAYER NR. 11 -->
		<a class="tp-caption rev-btn " 
 href="{{ section.settings.slide_2_link }}" target="_self"			 id="slide-259-layer-4" 
			 data-x="center" data-hoffset="240" 
			 data-y="430" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="button" 
			data-actions=''
			data-responsive_offset="on" 

			data-frames='[{"delay":6210,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[18,18,18,18]"
			data-paddingright="[25,25,25,25]"
			data-paddingbottom="[18,18,18,18]"
			data-paddingleft="[25,25,25,25]"

			style="z-index: 11; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500;  letter-spacing: px;text-transform:uppercase;border-radius:5px 5px 5px 5px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">{{ section.settings.slide_2_button }} </a>
			 {% endif %}
	</li>
    	 {% endif %}
         
           {% if section.settings.show_slider_3 %}
	<!-- SLIDE  -->
	<li class="rs-260" data-index="rs-260" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{{ section.settings.slide_3_image | img_url: "100x50" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		{% if section.settings.slide_3_image != blank %}
        <!-- MAIN IMAGE --> 
        <img src="{{ section.settings.slide_3_image | img_url: "master" }}"  alt="{{ section.settings.slide_3_title }}" title="{{ section.settings.slide_3_title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		{% endif %}        
        <!-- LAYERS -->
		
		{% if section.settings.slide_3_title != blank %}
		<!-- LAYER NR. 12 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-260-layer-2" 
			 data-x="100" 
			 data-y="163" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:50px;rZ:0deg;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[10,10,10,10]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 400; color:{{ section.settings.slide_3_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_3_title }} </div>

  {% endif %}
  
  {% if section.settings.slide_3_subtitle != blank %}
		<!-- LAYER NR. 13 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-260-layer-12" 
			 data-x="100" 
			 data-y="231" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"rZ:0deg;sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[10,10,10,10]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 70px; font-weight: 400; color:{{ section.settings.slider_3_sub_title_clr }}; letter-spacing: 0px;"><span style="color:{{ section.settings.slider_3_button_bg }}" >{{ section.settings.slide_3_subtitle |  split: '[' | last  | split: ']' | first }}</span>{{ section.settings.slide_3_subtitle |  split: '|' | last  | split: '|' | first }}</div>
			
 {% endif %}
  {% if section.settings.slide_3_desc != blank %}
		<!-- LAYER NR. 14 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-260-layer-1" 
			 data-x="100" 
			 data-y="323" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 26px; font-weight: 400; color:{{ section.settings.slide_3_desc_clr }}; letter-spacing: 0px;">{{ section.settings.slide_3_desc }}
			 </div>
			   {% endif %}

{% if section.settings.slide_3_link != blank %}
		<!-- LAYER NR. 15 -->
		<a class="tp-caption rev-btn " 
 href="{{ section.settings.slide_3_link }}" target="_self"			 id="slide-260-layer-4" 
			 data-x="100" 
			 data-y="405" 
						data-width="['auto']"
			data-height="['auto']"
 
			data-type="button" 
			data-actions=''
			data-responsive_offset="on" 

			data-frames='[{"delay":5000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[18,18,18,18]"
			data-paddingright="[25,25,25,25]"
			data-paddingbottom="[18,18,18,18]"
			data-paddingleft="[25,25,25,25]"

			style="z-index: 8; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; letter-spacing: px;text-transform:uppercase;border-radius:5px 5px 5px 5px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">{{ section.settings.slide_3_button }} </a>
			{% endif %}
	</li>
	 {% endif %}
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->
<style type="text/css">
  

  .rs-258 .rev-btn {background:{{ section.settings.slider_1_button_bg }}; color: {{ section.settings.slider_1_button_txt }};}
  .rs-258 .rev-btn:hover {background:{{ section.settings.slider_1_button_hover_bg }}; color: {{ section.settings.slider_1_button_hover_txt }}; }

  .rs-259 .rev-btn { background:{{ section.settings.slider_2_button_bg }}; color: {{ section.settings.slider_2_button_txt }}; }
  .rs-259 .rev-btn:hover {background:{{ section.settings.slider_2_button_hover_bg }}; color: {{ section.settings.slider_2_button_hover_txt }}; }

  .rs-260 .rev-btn { background:{{ section.settings.slider_3_button_bg }}; color: {{ section.settings.slider_3_button_txt }}; }
  .rs-260 .rev-btn:hover {background:{{ section.settings.slider_3_button_hover_bg }}; color: {{ section.settings.slider_3_button_hover_txt }}; }

  
</style>

<script type="text/javascript">
		var tpj=jQuery;
			
			var revapi85;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_85_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_85_1");
				}else{
					revapi85 = tpj("#rev_slider_85_1").show().revolution({
						sliderType:"standard",
						jsFileLocation:"{{ 'slider-init.js' | asset_url }}",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							arrows: {
								style:"zeus",
								enable:true,
								hide_onmobile:true,
								hide_under:780,
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:20,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:20,
									v_offset:0
								}
							}
							,
							bullets: {
								enable:true,
								hide_onmobile:false,
								style:"hermes",
								hide_onleave:false,
								direction:"horizontal",
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:20,
								space:5,
								tmp:''
							}
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1170,
						gridheight:630,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
		</script>



{% schema %}
{
	"name": "Revolution slider",	
	"class": "index-section",
	"settings": [
				
            {
            "type": "checkbox",
            "id": "show_slider_1",
            "default": true,
            "label": "Show slide 1"
            },

            {
            "type": "image_picker",
            "id": "slide_1_image",					
            "label": "Image",
		    "info": "Size: 1919x630"
            },
            {
            "type": "text",
            "id": "slide_1_title",					
            "label": "Heading",
			"default": " [FASHION] Exclusively only for"
            },
            {
            "type": "color",
            "id": "slide_1_title_clr",
            "label": "Slider 1 Title",
            "default": "#c5ec31"
            },

            {
            "type": "text",
            "id": "slide_1_subtitle",
            "default": "'you'",
            "label": "Sub heading"
            },
            {
            "type": "color",
            "id": "slider_1_sub_title_clr",
            "label": "Slider 1 Sub Title",
            "default": "#c5ec31"
            },
			 {
            "type": "textarea",
            "id": "slide_1_desc",
            "default": "-Life is too short to wear boring clothes",
            "label": "Short Text"
            },
            {
            "type": "color",
            "id": "slide_1_desc_clr", 
			"label": "Slider 1 Shot Text ",
            "default": "#f9facd"
            },			
            {
            "type": "text",
            "id": "slide_1_button",
            "default": "View Collection",
            "label": "Link Text"
            },
 		 
            {
            "type": "color",
            "id": "slider_1_button_bg",
            "label": "Slider 1 Button Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_1_button_txt",
            "label": "Slider 1 Button Text",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_1_button_hover_bg",
            "label": "Slider 1 Button Hover Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_1_button_hover_txt",
            "label": "Slider 1 Button Hover Text",
            "default": "#3a3a3a"
            },
            {
            "type": "text",
            "id": "slide_1_link",
            "default": "#",
            "label": "Link"
            },
            {
            "type": "checkbox",
            "id": "show_slider_2",
            "default": true,
            "label": "Show slide 2"
            },

            {
            "type": "image_picker",
            "id": "slide_2_image",					
            "label": "Image",
 			"info": "Size: 1919x630"
            },            
            {
            "type": "text",
            "id": "slide_2_title",					
            "label": "Heading",
			"default": "Fine [accessories] for you"
            },
            {
            "type": "color",
            "id": "slide_2_title_clr",
            "label": "Slider 2 Title",
            "default": "#493e3d"
            },           				  
            {
            "type": "textarea",
            "id": "slide_2_desc",
            "default": "The best in class for this season. Life is too short <br>to wear boring clothes",
			"label": "Short Text"
            },
            {
            "type": "color",
            "id": "slide_2_desc_clr", 
			"label": "Slider Short Text ",
            "default": "#2fc5e0"
            },
			{
            "type": "color",
            "id": "slide_2_points_icon_clr",
            "label": "Slider 2 Points Icon",
            "default": "#ff006d"
            },       
			{
            "type": "color",
            "id": "slide_2_points_txt_clr",
            "label": "Slider 2 Points Text",
            "default": "#343434"
            },	
 				
{
            "type": "text",
            "id": "slide_2_point_1",					
            "label": "Point 1",
			"default": "Point 1"
            },
			{
            "type": "text",
            "id": "slide_2_point_2",					
            "label": "Point 2",
			"default": "Point 2"
            },
			{
            "type": "text",
            "id": "slide_2_point_3",					
            "label": "Point 3",
			"default": "Point 3"
            },
            				

			{
            "type": "text",
            "id": "slide_2_point_4",					
            "label": "Point 4",
			"default": "Point 4"
            },
           
			
           
            {
            "type": "text",
            "id": "slide_2_button",
            "default": "View Collection",
            "label": "Link Text"
            },
			
            {
            "type": "color",
            "id": "slider_2_button_bg",
            "label": "Slider 2 Button Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_2_button_txt",
            "label": "Slider 2 Button Text",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_2_button_hover_bg",
            "label": "Slider 2 Button Hover Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_2_button_hover_txt",
            "label": "Slider 2 Button Hover Text",
            "default": "#3a3a3a"
            },
            {
            "type": "text",
            "id": "slide_2_link",
            "default": "#",
            "label": "Link"
            },
            {
            "type": "checkbox",
            "id": "show_slider_3",
            "default": true,
            "label": "Show slide 3"
            },				
            {
            "type": "image_picker",
            "id": "slide_3_image",					
            "label": "Image",
 			"info": "Size: 1919x630"
            },		
            {
            "type": "text",
            "id": "slide_3_title",			
			"default": "Favourite <br> Accessories",	
            "label": "Heading"
            },
            {
            "type": "color",
            "id": "slide_3_title_clr",
            "label": "Slide 3 Title Color",
            "default": "#3a3a3a"
            },        
           {
            "type": "text",
            "id": "slide_3_subtitle",
            "default": "[2017 ] | Version 2.0 |",
            "label": "Sub heading"
            },
            {
            "type": "color",
            "id": "slider_3_sub_title_clr",
            "label": "Slider 3 Sub Title",
            "default": "#c5ec33"
            },
            {
            "type": "textarea",
            "id": "slide_3_desc",
            "default": "The best in class for this season. Life is too short <br> to wear boring clothes",
            "label": "Description"
            },
            {
            "type": "color",
            "id": "slider_3_desc_clr",                 
 			"label": "Description",
            "default": "#000"
            },	
            {
            "type": "text",
            "id": "slide_3_button",
            "default": "View Collection",
            "label": "Link Text"
            },	
			
            {
            "type": "color",
            "id": "slider_3_button_bg",
            "label": "Slider 3 Button Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_3_button_txt",
            "label": "Slider 3 Button Text",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_3_button_hover_bg",
            "label": "Slider 3 Button Hover Bg",
            "default": "#3a3a3a"
            },
            {
            "type": "color",
            "id": "slider_3_button_hover_txt",
            "label": "Slider 3 Button Hover Text",
            "default": "#3a3a3a"
            },
            {
            "type": "text",
            "id": "slide_3_link",
            "default": "#",
            "label": "Link"
            }	
			]

} 

{% endschema %}